{% block booking %}
<!-- popup apply job -->
      <div class="wd-popup-job-apply">
        <div class="modal-menu__backdrop"></div>
        <div class="content">
            <h6>Book this provider</h6>
            <form action="https://themesflat.co/html/jobtex/get">
                <label class="label-text">Email<span>*</span></label>
                <input type="text" placeholder="Email" required>
                <div class="group-radio">
                  <input type="radio"><label>You accept our <a href="#">Terms</a>  and <a href="#">Conditions</a>  and <a href="#">Privacy Policy</a> </label>
                </div>
                <button>Book</button>
              </form>
        </div>
    </div>

{% endblock %}