{% extends "base/index.html" %}
{% load static %}
{% block css %}
    <!-- Font -->
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}" />

<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

<!-- swiper slider -->
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- Theme Style -->
<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jobs.html' %}" />

<!-- Favicon and Touch Icons -->
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
<link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon.png' %}" />

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />

{% endblock %}
{% block content %}
      <section class="account-section">
    <div class="tf-container">
      <div class="row">
        <div class="wd-form-login">
          <h4>Log In</h4>
            {% if messages %}
                {%  for message in messages %}
                    <p style="color: red;">{{ message | capfirst }}</p>
                {% endfor %}
            {% endif %}
          <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
            <div class="ip">
              <label for="{{ form.email.id_for_label }}">Email address<span>*</span></label>
              {{ form.email }}
            </div>
            <div class="ip">
              <label for="{{ form.password.id_for_label }}">Password<span>*</span></label>
              <div class="inputs-group auth-pass-inputgroup">
                {{ form.password }}
                <a class="icon-eye-off password-addon" id="password-addon"></a>
              </div>
            </div>
            <div class="group-ant-choice">
              <div class="sub-ip"><input type="checkbox">Remember me</div>
              <a href="#" class="forgot">Forgot password?</a>
            </div>
            <button type="submit">Login</button>
            <div class="sign-up">Not registered yet? <a href="{% url 'register' %}">Sign Up</a></div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/plugin.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/range-side.js' %}"></script>
<script src="{% static 'js/password-addon.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}