{% extends "base/index.html" %}

{% load static %}

{% block content %}
  <section class="account-section">
        <div class="tf-container">
            <div class="row">
              <div class="wd-form-login tf-tab">
                    <h4>Create a free account</h4>

                    <ul class="menu-tab">
                        <li class="ct-tab active">Service Provider</li>
                        <li class="ct-tab">Home owner</li>
                    </ul>
                    <div class="content-tab">
                        <div class="inner">
                            <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}

                                <div class="ip">
                                    <label for="{{ form.email.id_for_label }}">Email address<span>*</span></label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                    <ul class="errorlist" style="color: red;">
                                      {% for error in form.email.errors %}
                                        <li>{{ error | lower }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </div>

                                <div class="ip">
                                    <label for="{{ form.password1.id_for_label }}">Password<span>*</span></label>
                                    <div class="inputs-group auth-pass-inputgroup">
                                        {{ form.password1 }}
                                        <a class="icon-eye-off password-addon"></a>
                                    </div>
                                    {% if form.password1.errors %}
                                    <ul class="errorlist" style="color: red;">
                                      {% for error in form.password1.errors %}
                                        <li>{{ error | lower }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </div>

                                <div class="ip">
                                    <label for="{{ form.password2.id_for_label }}">Confirm Password<span>*</span></label>
                                    <div class="inputs-group auth-pass-inputgroup">
                                        {{ form.password2 }}
                                        <a class="icon-eye-off password-addon"></a>
                                    </div>
                                    {% if form.password2.errors %}
                                    <ul class="errorlist" style="color: red;">
                                      {% for error in form.password2.errors %}
                                        <li>{{ error | lower }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </div>
                                <input type="hidden" id="{{ form.is_service_provider.id_for_label }}"
                                         name="{{ form.is_service_provider.html_name }}" value="True">
                                <input type="hidden" id="{{ form.is_home_owner.id_for_label }}"
                                         name="{{ form.is_home_owner.html_name }}" value="False">


                                <div class="group-ant-choice st">
                                  <div class="sub-ip"><input type="checkbox">I agree to the <a href="#">Terms of User</a></div>
                                </div>

                                <button type="submit">Register</button>
                                <div class="sign-up">Already have an account? <a href="{% url 'login' %}">Login Here</a></div>

                            </form>

                        </div>
                        <div class="inner">
                            <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}

                                <div class="ip">
                                    <label for="{{ form.email.id_for_label }}">Email address<span>*</span></label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                    <ul class="errorlist" style="color: red;">
                                      {% for error in form.email.errors %}
                                        <li>{{ error | lower }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </div>

                                <div class="ip">
                                    <label for="{{ form.password1.id_for_label }}">Password<span>*</span></label>
                                    <div class="inputs-group auth-pass-inputgroup">
                                        {{ form.password1 }}
                                        <a class="icon-eye-off password-addon"></a>
                                    </div>
                                    {% if form.password1.errors %}
                                    <ul class="errorlist" style="color: red;">
                                      {% for error in form.password1.errors %}
                                        <li>{{ error | lower }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </div>

                                <div class="ip">
                                    <label for="{{ form.password2.id_for_label }}">Confirm Password<span>*</span></label>
                                    <div class="inputs-group auth-pass-inputgroup">
                                        {{ form.password2 }}
                                        <a class="icon-eye-off password-addon"></a>
                                    </div>
                                    {% if form.password2.errors %}
                                    <ul class="errorlist" style="color: red;">
                                      {% for error in form.password2.errors %}
                                        <li>{{ error | lower }}</li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </div>

                                   <!-- is_home_owner Field (Hidden) -->
                                  <input type="hidden" id="{{ form.is_home_owner.id_for_label }}"
                                         name="{{ form.is_home_owner.html_name }}" value="True">

                                <input type="hidden" id="{{ form.is_service_provider.id_for_label }}"
                                         name="{{ form.is_service_provider.html_name }}" value="False">
                                 <div class="group-ant-choice st">
                                  <div class="sub-ip"><input type="checkbox">I agree to the <a href="#">Terms of User</a></div>
                                </div>

                                <button type="submit">Register</button>

                                <div class="sign-up">Already have an account? <a href="{% url 'login' %}">Login Here</a></div>
                            </form>

                        </div>

                    </div>

              </div>
            </div>
        </div>
  </section>

 {% endblock %}